@model WinesWorld.Web.InputModels.WineAddInputModel

@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

<form method="post" class="form border-primary-4 rounded p-3 w-60 mx-auto mt-3" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div id="name-and-price-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Name" class="text-primary h5">Name</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="name"
                   placeholder="Name..."
                   asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Country" class="text-primary h5">Country</label>
            </div>
            <input type="text"
                   step="0.01"
                   class="form-control text-primary text-center"
                   id="price"
                   placeholder="Country..."
                   asp-for="Country">
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
    </div>
    <div id="date-and-picture-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Type" class="text-primary h5">Type</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="manufacturedOn"
                   placeholder="Type..."
                   asp-for="Type">
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Picture" class="text-primary h5">Picture</label>
            </div>
            <input type="file"
                   class="form-control text-primary text-center"
                   id="picture"
                   placeholder="Picture..."
                   asp-for="Picture">
            <span asp-validation-for="Picture" class="text-danger"></span>
        </div>
    </div>
    <hr class="hr-2 bg-primary mt-4">
    <div id="date-and-picture-holder" class="d-flex justify-content-between">
        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Year" class="text-primary h5">Year</label>
            </div>
            <input type="date"
                   class="form-control text-primary text-center"
                   id="year"
                   asp-for="Year">
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>


        <div class="form-group mx-auto w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="Description" class="text-primary h5">Description</label>
            </div>
            <input type="text"
                   class="form-control text-primary text-center"
                   id="description"
                   placeholder="Description..."
                   asp-for="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group mx-auto">
        <div class="d-flex justify-content-center">
            <label asp-for="Colour" class="text-primary h5">Colour</label>
        </div>
        <input type="text"
               class="form-control text-primary text-center"
               id="year"
               asp-for="Colour">
        <span asp-validation-for="Colour" class="text-danger"></span>
    </div>
    <div class="d-flex justify-content-center mt-3">
        <button class="btn btn-primary font-weight-bold">Add wine</button>
    </div>
</form>

